<!--faq starts-->
<div class="container margtp" id="menu-faq">
	<div class="faq_style">FAQ</div>
	<div class="menu-faqs">
	<div onclick="QDropFun1('q-dropdown1', 'plus1', 'qus1')" class="questions q1">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;
		<font id="qus1" class="q-text q-text-sm">What is Sententia?</font>
		<i id="plus1" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown1" data-type="ans" class="answer"><span><font class="a-text" >Sententia is a cloud-based, individualized, formal writing assistive tool for students and professionals. Sententia helps in improving the writing in general and use of formal writing style in particular, over a period of time. Sententia achieves this goal by describing the wrong or inappropriate usage with correct-usage examples and explaining the underlying formal writing style or grammar rules.</font>
		<br></span><br><br></div>

	<div onclick="QDropFun1('q-dropdown2', 'plus2', 'qus2')" class="questions q2">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus2">How is it different from other tools in the market?</font>
		<i id="plus2" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown2" data-type="ans" class="answer"><span><font class="a-text" >Sententia, in addition to grammar correctness, also focuses on adherence to formal writing style. The strength of Sententia is the individualization - thorough analysis of the writing style of the individual, common mistake the individual makes and the growth the individual undergo in his/her writing, over a period of time. If your goal is to improve your formal writing over a period of time, then Sententia is your solution. However, If you just want to fix a single document - it may not be the right solution.</font>
		<br></span><br><br></div>

	<div onclick="QDropFun1('q-dropdown3', 'plus3', 'qus3')" class="questions q3">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus3">Who has decided these formal writing style?</font>
		<i id="plus3" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown3" data-type="ans" class="answer"><span><font class="a-text" >Sententia has condensed information from many books and websites. The below list give the important references:</font><br>
	<span onclick="booksdropfun1()" class="ref-books"><font>Books :</font>
		<i id="plusbook1" class="drop_plus_sub fa fa-fw fa-plus-circle" aria-hidden="true" style="margin-left:33px;"></i></span>
		<br>
<span id="refbooksspan"><ol><font class="a-text" ><li>Spunk & Bite - Arthur Plotnik</li>
<li>How Not to Write - William Safire</li>
<li>Writing Tools - Roy Peter Clark</li>
<li>Line by Line - Claire Cook</li>
<li>Eats, shoots and leaves</li>
<li>On Writing Well - William Zinsser</li>
<li>The Elements of Style - William Strunk, Jr., and E. B. White</li>
<li>New Century Handbook - C. A. Hult, T. N. Huckin</li>
<li>English Repair Kit- Angela Burt</li>
<li>Zen in the Art of Writing - Ray</li>
<li>A Practical Course of Précis Writing - Ernest Minett Palser</li>
<li>The Complete Plain Words - Sir Ernest Gowers</li>
<li>Words Words Words - David Crystal</li>
<li>Good Punctuation by Graham King</li>
<li>The American Language - Mencken</li>
<li>Teach Yourself Good English - Thornton</li>
<li>The Joy of Lex - Gyles Brandreth</li>
<li>English Grammar - Wren and Martin</li>
<li>Descriptive English Grammar - Homer and Harman</li>
<li>How to Write Reports - John Mitchell</li>
<li>Practical English Usage - Michael Swan</li>
<li>The American Heritage - Book of English Usage</li></font></ol></span>
		<span class="divide"></span>
<span onclick="websdropfun1()" class="ref-webs"><font>Websites :</font>
	<i id="pluswebs1" class="drop_plus_sub fa fa-fw fa-plus-circle" aria-hidden="true"></i></span>
<span id="refwebsspan"><ol><font class="a-text" >
	<li><a href="http://english4success.ru/upload/books/681.pdf" target="_blank">Common Mistakes in English</a></li>
<li><a href="http://englishclub.com/download/english-prepositions-list.htm" target="_blank">English Club's Preposition list</a></li>
<li><a href="http://englishgrammar.org/guide/perfect-your-sentences.pdf" target="_blank">Perfect your Sentences</a></li>
<li><a href="https://owl.english.purdue.edu" target="_blank">Purdue's Online Writing Lab</a></li>
<li><a href="http://icsharpcode.net/technotes/technicalwriting20020325.pdf" target="_blank">Technical Writing Made Easier</a></li>
	</font></ol></span><br></span>
<br><br></div>

	<div onclick="QDropFun1('q-dropdown4', 'plus4', 'qus4')" class="questions q4">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus4">How are the issues in my writing shown?</font>
		<i id="plus4" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown4" data-type="ans" class="answer"><span><font class="a-text" ><ul style="margin-left: -38px;"><li><font style="font-weight: bold;">In Sententia, there are 4 different categories of document analysis output.</font></li>
<li><font style="font-weight: bold;">Suggestions:</font> This category include those sentences does a negligible violation of formal writing rule(s). These are shown in green and it is OK to overlook.</li>
<li><font style="font-weight: bold;">Guidelines:</font> Guidelines are those that violate any formal writing rule(s), though they may be grammatically correct. These are shown in blue and it is advised not to overlook.</li>
<li><font style="font-weight: bold;">Bugs:</font> These are serious violation of either formal writing rule or the English Grammar. These are shown in Red and should not be overlooked.</li>
<li><font style="font-weight: bold;">Analysis charts:</font> These charts categorize the issues into different types and give the reader an idea about the type and count of violations he/she is doing.</li></ul></font>
		<br></span><br><br></div>

<div onclick="QDropFun1('q-dropdown5', 'plus5', 'qus5')" class="questions q4">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus5">Can I download the comments and inputs shared by Sententia?</font>
		<i id="plus5" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown5" data-type="ans" class="answer"><span><font class="a-text" >Yes. A separate document is created, which includes both your content and our suggestions.</font>
		<br></span><br><br></div>

<div onclick="QDropFun1('q-dropdown6', 'plus6', 'qus6')" class="questions q5">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus6">What type of files are supported for uploading?</font>
		<i id="plus6" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown6" data-type="ans" class="answer"><span><font class="a-text" >Currently, Text (.txt), Word (.doc, .docx) documents are supported. Those who have LaTeX document (.tex), please consider software such as pandoc to convert to text.</font>
		<br></span><br><br></div>

	<div onclick="QDropFun1('q-dropdown7', 'plus7', 'qus7')" class="questions q6">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus7">Can I upload documents that has images in it?</font>
		<i id="plus7" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown7" data-type="ans" class="answer"><span><font class="a-text" >Yes, but the images and the text on those images will not be analyzed.</font>
		<br></span><br><br></div>

	<div onclick="QDropFun1('q-dropdown8', 'plus8', 'qus8')" class="questions q7">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus8">When will my subscription end?</font>
		<i id="plus8" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown8" data-type="ans" class="answer"><span><font class="a-text" >Monthly subscription is valid for 30 days and yearly subscription is valid for 366 days.</font>
		<br></span><br><br></div>

	<div onclick="QDropFun1('q-dropdown9', 'plus9', 'qus9')" class="questions q9">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus9">Where do I find my subscription details?</font>
		<i id="plus9" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown9" data-type="ans" class="answer"><span><font class="a-text" >You can find your subscription details in your Account. Goto My Account > Subscription Details.</font>
		<br></span><br><br></div>

	<div onclick="QDropFun1('q-dropdown10', 'plus10', 'qus10')" class="questions q10">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus10">Where can I find your Pirvacy Policy and Terms of Use?</font>
		<i id="plus10" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown10" data-type="ans" class="answer"><span><font class="a-text" ><a href="./static/js/html/privacy.html" target="_blank">Privacy Policy</a> - Our <a href="./static/js/html/privacy.html" target="_blank">privacy policy</a> explains about information we collect, how we use it, and its security.
		<br><a href="./static/js/html/terms.html" target="_blank">Terms of Use</a> - Our <a href="./static/js/html/terms.html" target="_blank">terms of use</a> is legal document explaining the terms under which we provide sententia.online to users, and what you can and can't do while using the site.
		<br>You can also find links to Privacy policy and Terms of use at the bottom of the page.</font>
		<br></span><br><br></div>

	<div onclick="QDropFun1('q-dropdown11', 'plus11', 'qus11')" class="questions q11">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus11">Can I cancel my subscription</font>
		<i id="plus11" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown11" data-type="ans" class="answer"><span><font class="a-text" >No. Once subscribed you cannot cancel it.</font>
		<br></span><br><br></div>

	<div onclick="QDropFun1('q-dropdown12', 'plus12', 'qus12')" class="questions q12">&nbsp;<font class="q">Q</font>&nbsp;&nbsp;<font class="q-text" id="qus12">Can I login from multiple devices at a time?</font>
		<i id="plus11" class="drop_plus fa fa-fw fa-plus-circle" aria-hidden="true"></i>
	</div>
	<div id="q-dropdown12" data-type="ans" class="answer"><span><font class="a-text" >No. For security purpose login has been restricted to one device for a user at a time.</font>
		<br></span><br><br></div>

	</div>
</div>
<!--faq ends-->
