<footer>
        <div class="site-footer" fxLayout fxLayout.xs="column" fxLayoutAlign="center"  fxLayoutGap.xs="0px">
                <div fxFlex="25%">All  rights reserved © 2017</div>
                <div fxFlex="25%"><a id="privacy" class="" routerLink='/privacy' target="_blank">Privacy Policy</a></div>
                <div fxFlex="25%"><a class=""  routerLink='/terms-of-use' target="_blank">Terms of use</a></div>
                <div fxFlex="25%"><a id="netan" class="" href="http://www.netanalytiks.com" target="_blank">Powered by NetAnalytiks</a></div>
        </div>
</footer>
