<div class="container margtp">
		<div class="cnt_style">
			<span class="cntus_txt">Contact Us</span>
		</div>
		<div class="margbtm5 justify">
			<span class="content_style">
				<p class="contacts" style="text-align: justify;"><font size="3px" color="#666">We would like to hear from you. To hear more about the application or to send any suggestions, please contact us at <a href="mailto:support@netanalytiks.com"><span>support@netanalytiks.com</span> </a> or fill in the form below.</font></p>
			</span>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12"></div>
			<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 form_style">
				<form novalidate>
				<fieldset>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Name*" id="user_name" name="user_name">
					</div>

    				<div class="form-group">
      					<input type="email" class="form-control" placeholder="E-Mail*" id="user_email" name="user_email">
    				</div>
  				</fieldset>
  					<div class="form-group">
    					<input type="text" class="form-control" placeholder="Mobile Number" id="mobile_no" name="mobile_no">
  					</div>

  					<div class="form-group">
    					<textarea name="message" cols="50" placeholder="Message" class="msgbox_height" id="user_message" name="user_message"></textarea>
  					</div>
  					<div class="ACENTR">
  						<button type="submit" class="btn btn-primary" >Submit</button>
  					</div>
			</form>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12"></div>
		</div>
		<div class="row margtpbtm5">
			<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
				<p style="margin-top:5px;  font-size:20px;">
					<font color="#3f75a1">
				<strong>NetAnalytiks Technologies Pvt. Ltd.</strong></font></p>
					<p style="margin-top:5px; font-size:14px;"> No 205, S A Arcade
                  <br>24th Main, 3rd Floor
                  <br>JP Nagar 5th Phase
                  <br>Bengaluru, Karnataka – 560 078
                  <br>Phone: +91 97397 99474 / +91 97397 98870
                  <br>Write To Us:&nbsp;
                  <b>
                     <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                     <span>&nbsp;support@netanalytiks.com</span>
				</b></p>
			</div>
			<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
				<iframe width="100%" height="250px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=NetAnalytiks&amp;key=AIzaSyD5gT3mtvbaN3IMSrQbNPWsNiyEVa9VlSw" allowfullscreen="">
				</iframe> 
			</div>
		</div>
</div>