<div class="container margtp">
		<div class="abt_style abtus_txt">Who we are</div>
		<div class="margtpbtm">
			<div>
				<img src="../assets/sententia.png" class="sent_logo img-responsive">
			</div>
			<div class="margbtm5 justify">
				<span class="content_style">
					Sententia is a SaaS based formal writing assistant. Unlike other tools, Sententia does not focus on just correcting the grammar. The goal of Sententia is to train the writer – over a period of time – in writing better formal documents. Hence, it is ideal for Learners. Sententia keeps track of the progress of the writer, and provide thorough analytics on various aspects of writing. Sententia is jointly developed by Eunoia Labs and NetAnalytiks. Eunoia Labs brings in significant knowledge in Education domain and NetAnalytiks specializes in productization and analytical offerings.
				</span>
			</div>
		</div>
		
		
		<div class="margtpbtm">
			<div>
				<img src="../assets/na.png" class="na_logo img-responsive">
			</div>
			<div class="margbtm5 justify">
				<span class="content_style">
					NetAnalytiks is an IT Products and Consulting company that specializes in building highly intuitive, easy to use, smart digital solutions by leveraging latest technologies. NetAnalytiks has IT Products in Digitization, Education and Entertainment domains, with IT Services specialization in IoT, SMAC, Automation and Enterprise Security. In the current and tomorrow’s world of IT Services, the need of the industry is inching towards realizing smarter, agile, secure and more connected solutions to meet the rising demands of the customers. Driven by providing enhanced values to the customers, our IT Services are strategically positioned and equipped with the services spectrum covering the focus areas of our customers.
				</span>
			</div>
		</div>
		
</div>
