.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.main {
  margin-top: -60px !important;
  width: 85%;
  margin: 0 auto;
}

.formdiv {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  width: 55%;
  margin-left: 25%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 1%;

}

.gif-img {
  left: 30px !important;
}

.form-mat {
  margin-top: 32px !important;
}

.g-recaptcha {
  margin-top: 25px;
}

.signin-btn {
  width: 50%;
  margin-left: calc(50% - 25%);
  margin-top: 30px;
}

.abt-sen-txt {
  width:75%;
  margin:0 auto;
  text-align: center;
  color: #3c3c3c;
  padding-bottom: 5px;
}


.forgot-pass {
  width: 27%;
  display: block;
  margin: 0 auto;
}

.not-registered {
  float: right;
}

.form-links {
  font-size: 13px;
  margin-top: 25px;
}

.form-links a {
  color: rgb(46, 89, 132);
  text-decoration: none;
}

.form-links a:hover {
  color: rgb(199, 39, 51);
  text-decoration: none;
}

.abt-img {
  margin:0 auto;
  margin-top: 70px;
}

.abt-img img {
  border-radius:10px;
  height:399px;
  width: 580px;
  box-shadow: 0px 0px 3px 1px #989696;
}

.fpass {
  font-size: 20px;
  width: 71%;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
