<div class="container margtp">
	<div class="abt_style abtus_txt">Privacy Policy</div>
		<div class="margbtm5 justify">
			<div class="content_style">
					We, <a href="http://www.netanalytiks.com" target="_blank">www.netanalytiks.com,</a> the creators of this Privacy Policy are committed to ensuring your privacy. Accordingly, we have developed this Policy in order to explain to you how we collect, use, communicate, disclose and make use of information that we may collect about you.   This privacy policy should be read in accordance with any agreement you have with www.netanalytiks.com including our Terms of Use. We will make readily available to customers information about our policies and practices relating to the management of personal information. 
			</div>
			<div>
				<div class="privacy_cat_mrgntp">
				  <div><span class="privacy_cat">1. Overview</span>
				  	<div class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) We commit to respecting your online data privacy. We further recognize your need for appropriate protection and management of any personally identifiable information (“Personal Information”) you may share with us. Information that is considered personal about you by us includes, but is not limited to, your name, address, email address or other contact information. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) In order to avail the services we offer, you may be asked to provide the following information to us, which include, but are not limited to Name, Residential Address, Business Address, Phone number, Email address, Chat history, identification number, credit card information for payments and such other information sent by you via emails or entered on the Website. If you decline to submit required “Personal Information” to us, then we may unfortunately not be in a position to provide our services to you. 
					  </div>
					  <div class="privacy_subcat_mrgntpbtm">c) Any information you provide when using certain services that are open, public or forum including (without limitation) any blog, community or discussion board, is not considered confidential, does not constitute “Personal Information”, and is not subject to protection under Privacy Policy. Since such public environments are accessible by third parties, it is possible that third parties may collect and collate and use such information for their own purposes. You should accordingly be careful when deciding to share any of your “Personal Information” in such public environments. We are not liable to you or any third party for any damages that you or any third party may suffer howsoever arising from your disclosure of “Personal Information” in such public environment. Accordingly, any disclosure of information in a public environment is at your own risk. </div>
					  <div class="privacy_subcat_mrgntpbtm">d) By accepting this privacy policy, you authorize NetAnalytiks Technologies Private Limited to collect, store and use any information that you provide on our Website. If you accept the privacy policy of NetAnalytiks Technologies Private Limited, you are providing full authority to us to use any information provided by you directly or indirectly in the process of using this website. </div>
					  <div class="privacy_subcat_mrgntpbtm">e) This privacy policy is for registered users as well as unregistered users (people who just browse through the site, they may or may not buy the products). We use this information to measure interest in our products and services, inform you about online and offline offers and customize your experience. NetAnalytiks Technologies Private Limited provides all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related) communications from us. </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">2. Modification and changes to the terms of service and the privacy policy</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) We reserve the right to change the Terms and Privacy Policy from time to time as seen fit, without any intimation to you, and your continued use of the site will signify your acceptance of any amendment to these terms. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) You are therefore advised to re-read the Terms of Use on a regular basis. Should it be that you do not accept any of the modifications or amendments to the Terms, you may terminate your use of this website immediately. </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">3. Information we collect</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) Information directly obtained from you: 
					  	<div>
						  <div class="privacy_subcat_mrgntpbtm">i) Our site requires you to give us contact information like name, address, e-mail, telephone number, chat history, identification number, credit card information for payments for the purposes of availing our services listed on the Website. </div>
						  <div class="privacy_subcat_mrgntpbtm">ii) Any communication between you and the website, along with queries and posts on our website are also included in this. Certain information, such as your name, e-mail addresses, is collected in order to, among other things; verify your identity, use as account numbers in our record system and to provide information for the leads generated. </div>
						</div>
					  </div>
					  <div class="privacy_subcat_mrgntpbtm">b) Information collected indirectly:
					  	<div>
						  <div class="privacy_subcat_mrgntpbtm">i) We may also obtain information relating to you from third party sources such as social networking websites, databases, online marketing firms, etc. </div>
						  <div class="privacy_subcat_mrgntpbtm">ii) This information includes your username and other information on those sites, demographic data like age, gender and other interests;  viewing data and advertisement interaction, content, information about your correspondents, and the destination/origin of communications between you and any other person using our website or services. </div>
						  <div class="privacy_subcat_mrgntpbtm">iii) These include (but not limited to) email communications, blogs, chat room communications, discussion board communications, instant message communications, and experts’ forum communications for the purposes of providing our services. </div>
						</div>
					  </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">4. Cookies</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) We use data collection devices such as “cookies” on certain pages of our Website. “Cookies” are small files sited on your hard drive that assist us in providing customized services. We also offer certain features that are only available through the use of a “cookie”. Cookies can also help us provide information, which is targeted to your interests. Cookies may be used whether you register with us or not. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) We use traffic log cookies to identify which pages are being used. This helps us analyze data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes. </div>
					  <div class="privacy_subcat_mrgntpbtm">c) Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website. </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">5. Use of your information</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) We collect and use your “Personal Information” only to conduct our business, to help us deliver our services and to improve our business. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) Your contact information is used to contact you when necessary. We use your IP address to help diagnose problems with our server, and to administer our Website. Your IP address is also used to help identify you and to gather broad demographic information. Finally, we may use your IP address to help protect our partners and ourselves from fraud. We will continue to enhance our security procedures as new technology becomes available. We will transfer information about you if we are acquired by or merged with another company. In this event, we will notify you by email or by putting a prominent notice on the site before information about you is transferred and becomes subject to a different privacy policy. 
					  </div>
					  <div class="privacy_subcat_mrgntpbtm">c) We may under certain circumstances procure an element of the Services from a third party service provider. To the extent that it may be necessary, and solely for the purposes of providing the Service to you, you agree that we may disclose to such third party any of your “Personal Information” that may be necessary for the procurement of services from the third party. </div>
					  <div class="privacy_subcat_mrgntpbtm">d) For example, we may share your contact information with a third party to ensure delivery of the service to you. You consent to this sharing of information and being contacted by our partners by continued use of this website. </div>
					  <div class="privacy_subcat_mrgntpbtm">e) We neither share any of your personal information with third parties not involved in our business, nor sell or trade your personal information to third parties for their marketing purposes, without your explicit consent. </div>
					  <div class="privacy_subcat_mrgntpbtm">f) We use your “Personal Information” only as described in this Privacy Policy. If we want to use it for any other purpose, we will obtain your prior written consent.</div>
					</div>
				  </div>

				  <div><span class="privacy_cat">6. External links on the website</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) The Website may include hyperlinks to other web sites or content or resources. We have no control over any websites or resources, which are provided by companies or persons other than us. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) We also display advertisements on the Site, which are often targeted based on the information we collect about you. Please note that information collected by third party advertisers is not governed by this policy.</div>
					  <div class="privacy_subcat_mrgntpbtm">c) You acknowledge and agree that we are not responsible for the availability of any such external sites or resources, and do not endorse any advertising, products or other materials available on or from such websites or resources.</div>
					  <div class="privacy_subcat_mrgntpbtm">d) You acknowledge and agree that we are not liable for any loss or damage which may be incurred by you as a result of the availability of those external sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such websites or resources. These third-party service providers and Third-Party Sites may have their own privacy policies governing the storage and retention of your personal information that you may be subject to. </div>
					  <div class="privacy_subcat_mrgntpbtm">e) We recommend that when you enter a Third-Party Site, you review the Third Party Site’s privacy policy as it relates to safeguarding your personal information. We use third-party advertising companies to serve ads when you visit the Website. </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">7. Confidentiality</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) You acknowledge that the Website may contain information which is designated confidential by us and that you shall not disclose such information without our prior written consent. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) Your information is regarded as confidential and therefore will not be divulged to any third party, unless if legally required to do so to the appropriate authorities. </div>
					  <div class="privacy_subcat_mrgntpbtm">c) We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by us will only be in connection with the provision of agreed services and delivery of products. </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">8. Disclosure of your information</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) Due to the existing regulatory environment, we cannot ensure that all of your private communications and other personally identifiable information will never be disclosed in ways not otherwise described in this Privacy Policy. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) By way of example (without limiting and foregoing), we may be forced to disclose information to the government, law enforcement agencies or third parties. Under certain circumstances, third parties may unlawfully intercept or access transmissions or private communications, or members may abuse or misuse your information that they collect from our Website. Therefore, although we use industry standard practices to protect your privacy, we do not promise, and you should not expect, that your personally identifiable information or private communications would always remain private. </div>
					  <div class="privacy_subcat_mrgntpbtm">c) As a matter of policy, we do not sell or rent any personally identifiable information about you to any third party. However, the following describes some of the ways that your personally identifiable information may be disclosed:
					  <div>
					  	  <div class="privacy_subcat_mrgntpbtm">i) External Service Providers: There may be a number of services offered by external service providers that help you use our Websites. If you choose to use these optional services, and in the course of doing so, disclose information to the external service providers, and/or grant them permission to collect information about you, then their use of your information is governed by their privacy policy. </div>
						  <div class="privacy_subcat_mrgntpbtm">ii) Other Corporate Entities: We share much of our data, including personally identifiable information about you, with our affiliates that are committed to serving your online needs and related services, throughout the world. Such data will be shared for the sole purpose of enhancing your browsing experience and providing our services to you. To the extent that these entities have access to your information, they will treat it at least as protectively as they treat information they obtain from their other members. It is possible that We and/or its subsidiaries, or any combination of such, could merge with or be acquired by another business entity. Should such a combination occur, you should expect that we would share some or all of your information in order to continue to provide the service. You will receive notice of such event (to the extent that it occurs). </div>
						  <div class="privacy_subcat_mrgntpbtm">iii) Law and Order: We cooperate with law enforcement inquiries, as well as other third parties to enforce laws, such as: intellectual property rights, fraud and other rights. We can (and you authorize us to) disclose any information about you to law enforcement and other government officials as we, in our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose us or you to legal liability. </div>
					  </div> 
					  </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">9. Other information collectors</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) Except as otherwise expressly included in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you. 
					  </div>
					  <div class="privacy_subcat_mrgntpbtm">b) To the extent that you disclose your information to other parties, whether they are on our Websites or on other sites throughout the Internet, different rules may apply to their use or disclosure of the information you disclose to them. </div>
					  <div class="privacy_subcat_mrgntpbtm">c) To the extent that we use third party advertisers, they adhere to their own privacy policies. Since we do not control the privacy policies of the third parties, you are subject to ask questions before you disclose your personal information to others. </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">10. Security</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) We treat data as an asset that must be protected against loss and unauthorized access. We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) We employ many different security techniques to protect such data from unauthorized access by members inside and outside the company. We follow generally accepted industry standards to protect the personal information submitted to us, when we receive it. </div>
					  <div class="privacy_subcat_mrgntpbtm">c) However, “perfect security” does not exist on the Internet. You therefore agree that any security breaches beyond the control of our standard security procedures are at your sole risk and discretion. </div>
					</div>
				  </div>

				  <div><span class="privacy_cat">11. Disclaimer</span>
				  	<div  class="privacy_sub_cat">
					  <div class="privacy_subcat_mrgntpbtm">a) We cannot ensure that all of your private communications and other personal information (including sensitive information like credit card information and bank account number) will never be disclosed in ways not otherwise described in this Privacy Policy. Therefore, although we are committed to protecting your privacy, we do not promise, and you should not expect, that your personal information will always remain private. </div>
					  <div class="privacy_subcat_mrgntpbtm">b) As a user of the Site, you understand and agree that you assume all responsibility and risk for your use of the Site, the internet generally, and the documents you post or access and for your conduct on and off the Site. </div>
					  <div class="privacy_subcat_mrgntpbtm">c) We may be required to intercept, disclose, monitor and/or store your “Personal Information”: (i) by law; (ii) to conduct our business; (iii) to secure our systems; or (iv) to enforce our own rights, we will do so in the manner as prescribed by law. </div>
					  <div class="privacy_subcat_mrgntpbtm">d) Such interception, disclosure, monitoring and storage may take place without your knowledge. In that case, we will not be liable to you or any third party for any damages howsoever arising from such interception, disclosure, monitoring and storage.</div>
					</div>
				  </div>

				  <div><span class="privacy_cat">12. Disputes and jurisdiction</span>
				  	<p  class="privacy_sub_cat">All disputes involving but not limited to rights conferred, compensation, refunds, and other claims through this policy will be resolved according to our Terms of Service. </p>
				  </div>
				</div> 
			</div>
		</div>
</div>
